<app-encabezado titulo="Alerta">
  
</app-encabezado>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Alerta</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-button (click)="presentAlert()" expand="block" >
    Alerta
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Alerta multibotones
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block">
    Alerta multibotones
  </ion-button>

</ion-content>
